body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 35px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  color: #951C49;
  text-align: center;
}
#nav-list a:hover{
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content .row div{
  margin:0 auto 25px;
  background-color: #557c3e;
  border: 1px solid #61122f;
}

#main-content .row{
  margin: 0 20px 25px;
}

.menu-item-detail{
  padding: 15px;
}

#menu-title{
  margin-bottom: 35px;
}

.menu-item-detail a{
  color: #61122f;
  font-weight: bold;
}

.menu-item-detail a:hover{
  background-color: #E7E7E7;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
 #header-nav{
  height: 100px;
 } 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #header-nav{
    height: 100px;
  }

  /* End Header */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1{
    font-size: 4vw;
  }
  #header-nav{
    height: 100px;
  }
}

/********************************extra samal devices*************************/
@media (max-width: 767px) {
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1{
    padding-top: 25px;
    font-size: 6vw;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */

  .col-xxs-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
  }
}

